*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA project definition
*.iml
.idea/

# SAP JCo trace and log files
*.trc
dev_jco_rfc.log

# Maven properties
release.properties

# Eclipse
.settings/
.project
.classpath
target/
