* {
    font-size: 12px;
    font-family: Tahoma;
}

.customerListTable {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}

.customerListTable td,th {
    border-style: solid;
    border-width: 1px;
}

.feedback {
    color: red;
}
