# The session factory name
hibersap.session_factory_name=A12

# Java Connector settings
jco.client.client=800
jco.client.user=sapuser
jco.client.passwd=password
jco.client.lang=en
jco.client.ashost=10.20.80.76
jco.client.sysnr=00
jco.destination.pool_capacity=1
jco.repository_name=A12
